.navbar {
    background-color: #1e1e1e;
    padding: 0.5rem;
    position: relative; 
    width: 99%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2ecc71;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #2ecc71;
  }
  @media (max-width: 768px) {
    .navbar-container{
      display: flex;
      flex-direction: column;
    }
    .navbar-links{
      display: flex;
      flex-direction: column;
    }
  }